<h1>Schulze</h1>


<table>
<%= for election <- @elections do %>
<tr>
  <td>
    <%= link election, to: Routes.live_path(@socket, VotexWeb.SchulzeLive.Show, election) %>
  </td>
  <td>
    <%= link "Delete", to: "#" %>
  </td>
</tr>
<% end %>
</table>

<%= link "New Election", to: Routes.live_path(@socket, VotexWeb.SchulzeLive.New) %>
