<h1>Schulze</h1>


<table>
<%= for ballot <- @ballots do %>
<tr>
  <td>
    <%= link ballot, to: Routes.live_path(@socket, VotexWeb.SchulzeLive.Show, ballot) %>
  </td>
  <td>
    <%= link "Delete", to: "#" %>
  </td>
</tr>
<% end %>
</table>

<%= link "New Ballot", to: Routes.live_path(@socket, VotexWeb.SchulzeLive.New) %>
