<h1>New Schulze Election</h1>


<%= f = form_for :schulze_election, "#", [phx_change: :validate, phx_submit: :submit] %>
<%= label f, :name %>
<%= text_input f, :name, value: @name %>
<br/>
<%= label f, :candidates %>
<% candidate_map = @candidates |> Enum.into(%{}) %>
<%= for {i, candidate} <- @candidates do %>
    <%= text_input f, "candidate_#{i}", value: Map.get(candidate_map, i)  %>
<% end %>
<%= submit "Submit" %>

</form>
