<h1><%= @id %></h1>

<p>Current Votes: <span><%= length(@election.votes) %></span><p>

<%= f = form_for :ballot, "#", [phx_submit: :submit] %>
<% candidate_count = length(@election.candidates) %>
<%= for candidate <- @election.candidates do %>

  <%= label candidate, candidate %>
  <%= select f, candidate, (0..candidate_count) %>
<% end %>
<br/>
<%= submit "Vote" %>
</form>
