<div class="container">
<h2><%= @election.name %></h2>
<%= if @election.winners do %>
  <%= render SchulzeWeb.SchulzeView, "_winners.html", winners: @election.winners %>
<% else %>
  <%= render SchulzeWeb.SchulzeView, "_ballot.html", candidates: @candidates, votes: length(@election.votes) %>
<% end %>
<div>
