<div class="container">
<h2><%= @election.name %></h2>
<%= if @election.winners do %>
  <%= render SchulzeWeb.SchulzeView, "_winners.html", election: @election %>
<% else %>
  <%= render SchulzeWeb.SchulzeView, "_ballot.html", election: @election %>
<% end %>
<div>
