<% info_flash = live_flash(@flash, :info) %>
<% error_flash = live_flash(@flash, :error) %>
<%= if info_flash do %>
  <div class="alert alert-primary"
      phx-click="lv:clear-flash"
      phx-value-key="info"><%= live_flash(@flash, :info) %></div>
<% end %>
<%= if error_flash do %>
  <div class="alert alert-danger"
      phx-click="lv:clear-flash"
      phx-value-key="error"><%= live_flash(@flash, :error) %></div>
<% end %>
<main>
    <%= @inner_content %>
</main>
