<h4>Winners</h4>

<%= for {winners, place} <- @winners|> Enum.with_index(1) do %>
  <div class="row">
    <p>
    <%= ordinalize(place) %> Place: <%= winners |> Enum.join(" and ") %>
    </p>
  </div>
<% end %>
